<div class="container-body">
  <div class="container-header">

  </div>
  <form #f="ngForm" (ngSubmit)="onClickPostPessoa(f)">
    <div class="container-form">
      <input class="input" placeholder="digite o nome"  value="" name="nome" ngModel />
      <div class="form-selector">
        <label >Selecione se é ativo ou não.</label>
        <select name="ativo" ngModel>
          <option>Selecione</option>
          <option value=true>Ativo</option>
          <option value=false>Inativo</option>
        </select>
      </div>

      <div class="container-endereco">
        <legend>Adicione o seu endereço:</legend>
        <!-- <input class="input" placeholder="digite o Logradouro"  value="" name="logradouro" ngModel /> -->
        <input class="input" placeholder="digite o numero"  value="" name="numero" ngModel />
        <input class="input" placeholder="digite o complemento"  value="" name="complemento" ngModel />
        <input class="input" placeholder="digite o bairro"  value="" name="bairro" ngModel />
        <input class="input" placeholder="digite o CEP"  value="" name="cep" ngModel />
        <input class="input" placeholder="digite o Cidade"  value="" name="cidade" ngModel />
        <input class="input" placeholder="digite o Estado"  value="" name="estado" ngModel />

      </div>
      <button type="submit">Cadastrar Pessoa</button>
    </div>
  </form>

  <div class="container-footer">

  </div>
</div>
