<div class="container-body">
  <div class="container-header">

  </div>
  <div class="container-form">
    <input class="input" placeholder="digite o nome" id="nomePessoa" value=""/>
    

    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>


    <input class="input" placeholder="digite o nome" id="nomePessoa" value=""/>
    <input class="input" placeholder="digite o nome" id="nomePessoa" value=""/>
    <input class="input" placeholder="digite o nome" id="nomePessoa" value=""/>
    <button onclick="onClickPostPessoa(event)">Cadastrar Pessoa</button>
  </div>
  <div class="container-footer">

  </div>
</div>
